Repository SonOfSamuel1/My-Workspace-TB-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203, npm run build --workspace=servers/todoist-mcp-server --if-present, npm run build --workspace=servers/ynab-mcp-server --if-present, npm run build --workspace=servers/gmail-mcp-server --if-present

Add weekly YNAB budget report application
  CLAUDE.md
  apps/weekly-budget-report/.env.example
  apps/weekly-budget-report/.gitignore
  apps/weekly-budget-report/README.md
  apps/weekly-budget-report/config.yaml
  apps/weekly-budget-report/deploy_lambda.sh
  apps/weekly-budget-report/docs/AWS_DEPLOYMENT.md
  apps/weekly-budget-report/lambda_handler.py
  apps/weekly-budget-report/requirements.txt
  apps/weekly-budget-report/src/__init__.py
  apps/weekly-budget-report/src/budget_analyzer.py
  apps/weekly-budget-report/src/budget_main.py
  apps/weekly-budget-report/src/budget_report.py
  apps/weekly-budget-report/src/ynab_service.py
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

Add Toggl Daily Report application
  apps/toggl-daily-report/.env.example
  apps/toggl-daily-report/.gitignore
  apps/toggl-daily-report/QUICKSTART.md
  apps/toggl-daily-report/README.md
  apps/toggl-daily-report/config.yaml
  apps/toggl-daily-report/lambda_handler.py
  apps/toggl-daily-report/requirements.txt
  apps/toggl-daily-report/scripts/deploy-lambda-zip.sh
  apps/toggl-daily-report/src/daily_report_generator.py
  apps/toggl-daily-report/src/email_sender.py
  apps/toggl-daily-report/src/report_formatter.py
  apps/toggl-daily-report/src/toggl_daily.py
  apps/toggl-daily-report/src/toggl_service.py
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

Add iMessage Follow-up Automation application
  CLAUDE.md
  apps/imessage-followup-automation/.env.example
  apps/imessage-followup-automation/.gitignore
  apps/imessage-followup-automation/README.md
  apps/imessage-followup-automation/config.yaml
  apps/imessage-followup-automation/docs/SETUP_GUIDE.md
  apps/imessage-followup-automation/requirements.txt
  apps/imessage-followup-automation/scheduler.sh
  apps/imessage-followup-automation/src/__init__.py
  apps/imessage-followup-automation/src/action_recommender.py
  apps/imessage-followup-automation/src/email_sender.py
  apps/imessage-followup-automation/src/imessage_main.py
  apps/imessage-followup-automation/src/imessage_service.py
  apps/imessage-followup-automation/src/message_analyzer.py
  apps/imessage-followup-automation/src/report_generator.py
  apps/imessage-followup-automation/src/state_tracker.py
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat: Add AWS Lambda deployment for email processing
  .env.example
  AWS_LAMBDA_DEPLOYMENT.md
  Dockerfile.lambda
  lambda_handler.js
  lambda_handler.py
  scripts/build-and-push.sh
  scripts/create-lambda-function.sh
  scripts/delete-lambda-function.sh
  scripts/deploy-all.sh
  scripts/setup-eventbridge-schedule.sh
  scripts/setup-iam-role.sh
  scripts/test-lambda.sh
  scripts/update-lambda-function.sh
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

chore: Update monorepo configuration for autonomous-email-assistant
  README.md
  package.json
Due: prettier --write

Update CLAUDE.md with love-kaelin-tracker and google-docs-mcp-server
  CLAUDE.md
Due: prettier --write

fix: Move email assistant workflow to root for GitHub Actions
  .github/workflows/hourly-email-management.yml
Due: prettier --write

Remove GitHub Actions workflow - using AWS Lambda instead
  .claude/agents/vacant-lot-development-expert.md
  .github/workflows/hourly-email-management.yml
  apps/love-kaelin-tracker/README.md
  apps/love-kaelin-tracker/config.yaml
  apps/love-kaelin-tracker/docs/KAELIN_TRACKING_TEMPLATE.md
  apps/love-kaelin-tracker/docs/QUICK_START.md
  apps/love-kaelin-tracker/docs/SETUP_GUIDE.md
  apps/love-kaelin-tracker/src/__init__.py
  apps/love-kaelin-tracker/src/kaelin_main.py
  apps/love-kaelin-tracker/src/kaelin_report.py
  apps/love-kaelin-tracker/src/kaelin_tracker.py
  apps/weekly-budget-report/src/budget_analyzer.py
  developing-vacant-lots-residential-final-report.md
  docs/1967-Baker-Road-Analysis-Readable.html
  docs/1967-Baker-Road-Comprehensive-Analysis.html
  docs/1967-Baker-Road-Comprehensive-Analysis.md
  docs/1967-Baker-Road-Development-Analysis.html
  docs/1967-Baker-Road-Development-Analysis.md
  docs/1967-Baker-Road-Due-Diligence-Checklist.md
  docs/1967-Baker-Road-Property-Research-Report.md
  docs/convert_to_html.py
  docs/convert_to_pdf.py
  docs/create_professional_report.py
  docs/create_readable_html.py
  perplexity-research.md
  servers/google-docs-mcp-server/.env.example
  servers/google-docs-mcp-server/.gitignore
  servers/google-docs-mcp-server/README.md
  servers/google-docs-mcp-server/SETUP.md
  servers/google-docs-mcp-server/oauth-callback-server.cjs
  servers/google-docs-mcp-server/package-lock.json
  servers/google-docs-mcp-server/package.json
  servers/google-docs-mcp-server/src/auth.ts
  servers/google-docs-mcp-server/src/index.ts
  servers/google-docs-mcp-server/tsconfig.json
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203, npm run build --workspace=servers/todoist-mcp-server --if-present, npm run build --workspace=servers/ynab-mcp-server --if-present, npm run build --workspace=servers/gmail-mcp-server --if-present

feat: Add deep linking to YNAB transaction dashboard in budget emails
  apps/weekly-budget-report/src/budget_analyzer.py
  apps/weekly-budget-report/src/budget_report.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

style: Remove all emojis from budget report email
  apps/weekly-budget-report/src/budget_report.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat: Add Todoist daily reminders automation
  apps/todoist-daily-reminders/README.md
  apps/todoist-daily-reminders/lambda_handler.py
  apps/todoist-daily-reminders/requirements.txt
  apps/todoist-daily-reminders/src/__init__.py
  apps/todoist-daily-reminders/src/reminder_main.py
  apps/todoist-daily-reminders/src/todoist_service.py
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat: Add deployment scripts for todoist-daily-reminders
  apps/todoist-daily-reminders/.gitignore
  apps/todoist-daily-reminders/deploy.py
  apps/todoist-daily-reminders/deploy_lambda.sh
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

fix: Hardcode budget ID in YNAB reviewer for client-side rendering
  apps/ynab-transaction-reviewer/web/src/app/page.tsx
  apps/ynab-transaction-reviewer/web/src/app/transactions/[id]/page.tsx
Due: prettier --write

feat: Add OneNote to Obsidian migration tool
  apps/onenote-to-obsidian/.env.example
  apps/onenote-to-obsidian/.gitignore
  apps/onenote-to-obsidian/README.md
  apps/onenote-to-obsidian/config.yaml
  apps/onenote-to-obsidian/requirements.txt
  apps/onenote-to-obsidian/src/__init__.py
  apps/onenote-to-obsidian/src/content_converter.py
  apps/onenote-to-obsidian/src/migration_main.py
  apps/onenote-to-obsidian/src/obsidian_writer.py
  apps/onenote-to-obsidian/src/onenote_service.py
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat: Add Sleep Eight daily email reporter
  apps/sleep-eight-reporter/.env.example
  apps/sleep-eight-reporter/.gitignore
  apps/sleep-eight-reporter/README.md
  apps/sleep-eight-reporter/config.yaml
  apps/sleep-eight-reporter/docs/AWS_DEPLOYMENT.md
  apps/sleep-eight-reporter/lambda_handler.py
  apps/sleep-eight-reporter/requirements.txt
  apps/sleep-eight-reporter/scripts/deploy-lambda-zip.sh
  apps/sleep-eight-reporter/scripts/setup-parameters.sh
  apps/sleep-eight-reporter/src/__init__.py
  apps/sleep-eight-reporter/src/eight_sleep_service.py
  apps/sleep-eight-reporter/src/ses_email_sender.py
  apps/sleep-eight-reporter/src/sleep_main.py
  apps/sleep-eight-reporter/src/sleep_report.py
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

fix: Complete YNAB reviewer client-side rendering fix
  apps/ynab-transaction-reviewer/web/netlify.toml
  apps/ynab-transaction-reviewer/web/src/hooks/useTransaction.ts
Due: prettier --write

feat(email-assistant): Add redesigned email output system v2.0
  .gitignore
  apps/autonomous-email-assistant/lib/action-token-generator.js
  apps/autonomous-email-assistant/lib/email-action-handler.js
  apps/autonomous-email-assistant/lib/email-summary-generator.js
  apps/autonomous-email-assistant/lib/ses-email-sender.js
  apps/autonomous-email-assistant/scripts/preview-eod-email.js
  apps/autonomous-email-assistant/scripts/preview-morning-brief.js
Due: prettier --write

feat(ynab-dashboard): Display memo in transaction list
  apps/ynab-dashboard/src/app/page.tsx
Due: prettier --write

feat(ynab-dashboard): Add transaction filter buttons
  apps/ynab-dashboard/src/app/page.tsx
Due: prettier --write

feat(ynab-dashboard): Add persistent caching and All Transactions tab
  apps/ynab-dashboard/package-lock.json
  apps/ynab-dashboard/package.json
  apps/ynab-dashboard/src/app/all-transactions/page.tsx
  apps/ynab-dashboard/src/app/layout.tsx
  apps/ynab-dashboard/src/components/Navigation.tsx
  apps/ynab-dashboard/src/components/Providers.tsx
  apps/ynab-dashboard/src/hooks/useTransaction.ts
Due: prettier --write

feat(ynab-dashboard): Add Browse page with category filter and public API
  .gitignore
  apps/ynab-dashboard/src/app/api/data/categories/route.ts
  apps/ynab-dashboard/src/app/api/data/sync/route.ts
  apps/ynab-dashboard/src/app/api/data/transactions/route.ts
  apps/ynab-dashboard/src/app/browse/page.tsx
  apps/ynab-dashboard/src/components/Navigation.tsx
  apps/ynab-dashboard/src/lib/api-auth.ts
  apps/ynab-dashboard/src/lib/cache.ts
Due: prettier --write

feat(ynab-dashboard): Add split transaction option when categorizing
  apps/ynab-dashboard/src/app/transactions/[id]/page.tsx
  apps/ynab-dashboard/src/components/TransactionEditor.tsx
  apps/ynab-dashboard/src/hooks/useTransaction.ts
  apps/ynab-dashboard/src/lib/types.ts
  apps/ynab-dashboard/src/lib/utils.ts
Due: prettier --write

fix(ynab-dashboard): Use cached data on homepage to avoid rate limits
  apps/ynab-dashboard/src/app/page.tsx
Due: prettier --write

fix(ynab-dashboard): Use cached data for transaction detail page
  apps/ynab-dashboard/src/hooks/useTransaction.ts
Due: prettier --write

fix(ynab-dashboard): Ensure cache is populated on transaction detail page
  apps/ynab-dashboard/src/app/transactions/[id]/page.tsx
Due: prettier --write

chore: Disable autonomous email assistant scheduled workflow
  apps/autonomous-email-assistant/.github/workflows/hourly-email-management.yml.disabled
Due: none

fix(jt-teaching-newsletter): Fix verse extraction, queue bugs, and stub filtering
  apps/jt-teaching-newsletter/src/email_formatter.py
  apps/jt-teaching-newsletter/src/obsidian_reader.py
  apps/jt-teaching-newsletter/src/teaching_selector.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat(homeschool-events-gwinnett): Add homeschool events weekly digest app
  .bandit
  .flake8
  .pre-commit-config.yaml
  .secrets.baseline
  apps/homeschool-events-gwinnett/.env.example
  apps/homeschool-events-gwinnett/README.md
  apps/homeschool-events-gwinnett/config.yaml
  apps/homeschool-events-gwinnett/deploy_lambda.sh
  apps/homeschool-events-gwinnett/lambda_handler.py
  apps/homeschool-events-gwinnett/requirements.txt
  apps/homeschool-events-gwinnett/src/__init__.py
  apps/homeschool-events-gwinnett/src/email_builder.py
  apps/homeschool-events-gwinnett/src/event_parser.py
  apps/homeschool-events-gwinnett/src/event_sources/__init__.py
  apps/homeschool-events-gwinnett/src/event_sources/aggregator.py
  apps/homeschool-events-gwinnett/src/event_sources/base.py
  apps/homeschool-events-gwinnett/src/event_sources/eventbrite_source.py
  apps/homeschool-events-gwinnett/src/event_sources/ga_state_parks_source.py
  apps/homeschool-events-gwinnett/src/event_sources/gwinnett_library_source.py
  apps/homeschool-events-gwinnett/src/event_sources/perplexity_source.py
  apps/homeschool-events-gwinnett/src/events_main.py
  apps/homeschool-events-gwinnett/src/perplexity_service.py
  apps/homeschool-events-gwinnett/src/ses_email_sender.py
Due: prettier --write, black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat(ynab-transaction-reviewer): Trash previous digest emails before sending new one
  apps/ynab-transaction-reviewer/lambda/daily_review_handler.py
  apps/ynab-transaction-reviewer/scripts/deploy-lambda.sh
  apps/ynab-transaction-reviewer/scripts/reauthorize_gmail.py
  apps/ynab-transaction-reviewer/src/gmail_service.py
  apps/ynab-transaction-reviewer/src/reviewer_main.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

fix(todoist-daily-reminders): migrate to Todoist API v1 to fix broken reminders
  apps/todoist-daily-reminders/src/todoist_service.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

fix(todoist-daily-reminders): filter out future-dated tasks client-side
  apps/todoist-daily-reminders/src/todoist_service.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat(todoist-daily-reminders): auto-set due date to today for undated @commit tasks
  apps/todoist-daily-reminders/src/reminder_main.py
  apps/todoist-daily-reminders/src/todoist_service.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat(todoist-cc-task-mover): auto-route cc- prefixed tasks to Claude Code project
  apps/todoist-cc-task-mover/deploy_lambda.sh
  apps/todoist-cc-task-mover/lambda_handler.py
  apps/todoist-cc-task-mover/requirements.txt
  apps/todoist-cc-task-mover/src/__init__.py
  apps/todoist-cc-task-mover/src/cc_mover_main.py
  apps/todoist-cc-task-mover/src/todoist_service.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

perf(ActionOS): fix mobile performance — remove backdrop-filter blur, debounce resize, optimize caching
  .bandit
  .flake8
  apps/ActionOS/lambda_handler.py
  apps/ActionOS/src/code_views.py
  apps/ActionOS/src/dashboard_shell.py
  apps/ActionOS/src/email_report.py
  apps/ActionOS/src/todoist_views.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

feat(todoist-cc-task-mover): also match "cc " prefix without dash
  apps/todoist-cc-task-mover/lambda_handler.py
  apps/todoist-cc-task-mover/src/cc_mover_main.py
Due: black, isort --profile black, flake8 --max-line-length=127 --extend-ignore=E203

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  black: any of: *.py
  isort --profile black: any of: *.py
  flake8 --max-line-length=127 --extend-ignore=E203: any of: *.py
  npm run build --workspace=servers/todoist-mcp-server --if-present: any of: servers/**/*.ts
  npm run build --workspace=servers/ynab-mcp-server --if-present: any of: servers/**/*.ts
  npm run build --workspace=servers/gmail-mcp-server --if-present: any of: servers/**/*.ts
